<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Пример веб-страницы</title>
 </head>
 <body>
  <h1>About</h1>
  <!-- Комментарий -->
  <p><%= @heading %></p>
  <p><%= @text %></p>
</body>
</html>
